#sidebar {
	background: grey;
	width: 150px;
	float: left;
	height: 100px;
}

#content {
	background-color: green;
	height: 100px;
	color: black;
	overflow: hidden;
}

/* 2da forma de hacer el ejercicio 
#wrapper {
	display: flex;
}
#sidebar {
	background-color: grey;
	height: 100px;
	width: 200px;
}
#content {
	background-color: green;
	color: black;
	height: 100px;
	width: 800px;
}
*/
